body {
  font-family: Arial;
  background-color: black;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

#navbar {
	background-color: #ff2d2d;
	overflow: hidden;
  border-radius: 4px;
  border: 3px solid black;
}

/* -------- MODAL -------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-data {
  overflow: auto;
}

/* ---------------- */

#maintitle {
	float: left;
  color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 2.5%;
  margin-right: 3%;
  text-decoration: none;
}

#username {
  margin-top: 4%;
  margin-right: 20px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 3px;
}

#username a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

#username:hover {
  cursor: pointer;
  border: 2px solid white;
}

#gamestable {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
	background-color: grey;
	color: #ff2d2d;
  font-size: 20px;
  table-layout: fixed;
}

th, td{
  border: 1px solid black;
  color: white;
}

td{
  width: 23rem;
}

.versus {
  width: 5.3rem;
}

#button {
  display: inline-block;
  background-color: #ff2d2d;
  border: none;
  color: white;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  padding: 15px 32px;
  margin: auto;
  position: relative;
}
